setuptools==58.0.0
appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.1
defusedxml==0.7.1
Genshi==0.7.5
idna==3.2
isodate==0.6.0
Jinja2==3.0.1
ldap3==2.9
lxml==4.6.3
MarkupSafe==2.0.1
passlib==1.7.4
polib==1.1.1
proteus==6.0.2
psk-numword==0.5
psycopg2-binary==2.9.1
pyasn1==0.4.8
pycairo==1.20.1
pycountry==20.7.3
PyGObject==3.40.1
pyodbc==4.0.31
PyPDF2==1.26.0
python-dateutil==2.8.1
python-http-client==3.3.2
python-magic==0.4.24
python-sql==1.2.2
python-stdnum==1.16
pytz==2021.1
qrcode==7.1
relatorio==0.9.3
requests==2.26.0
requests-file==1.5.1
requests-toolbelt==0.9.1
sendgrid==6.7.1
simpleeval==0.9.10
six==1.16.0
soupsieve==2.2.1
starkbank-ecdsa==1.1.1
suds-py3==1.4.4.1
#-e git+https://github.com/lancheros/trytond-conector.git@ec35e205c4924b7208bbf38a5c8b50710698e612#egg=trytoncdst_conector
trytond==6.0.3
trytond-account==6.0.2
trytond-account-asset==6.0.0
trytond-account-cash-rounding==6.0.0
trytond-account-credit-limit==6.0.0
trytond-account-deposit==6.0.1
trytond-account-dunning==6.0.0
trytond-account-dunning-email==6.0.0
trytond-account-dunning-fee==6.0.0
trytond-account-dunning-letter==6.0.0
trytond-account-invoice==6.0.1
trytond-account-invoice-history==6.0.0
trytond-account-invoice-line-standalone==6.0.0
trytond-account-invoice-stock==6.0.0
trytond-account-payment==6.0.1
trytond-account-payment-clearing==6.0.0
trytond-account-product==6.0.1
trytond-account-statement==6.0.0
trytond-account-stock-anglo-saxon==6.0.0
trytond-account-stock-continental==6.0.0
trytond-account-stock-landed-cost==6.0.1
trytond-account-stock-landed-cost-weight==6.0.0
trytond-account-tax-rule-country==6.0.1
trytond-analytic-account==6.0.1
trytond-analytic-invoice==6.0.0
trytond-analytic-purchase==6.0.0
trytond-analytic-sale==6.0.0
trytond-bank==6.0.0
trytond-company==6.0.5
trytond-company-work-time==6.0.0
trytond-country==6.0.0
trytond-currency==6.0.1
trytond-customs==6.0.0
trytond-dashboard==6.0.0
trytond-edocument-uncefact==6.0.0
trytond-edocument-unece==6.0.0
trytond-google-maps==6.0.0
trytond-ldap-authentication==6.0.0
trytond-notification-email==6.0.0
trytond-party==6.0.1
trytond-party-relationship==6.0.0
trytond-product==6.0.0
trytond-product-attribute==6.0.0
trytond-product-classification==6.0.0
trytond-product-classification-taxonomic==6.0.0
trytond-product-cost-fifo==6.0.0
trytond-product-cost-history==6.0.0
trytond-product-measurements==6.0.0
trytond-product-price-list==6.0.0
trytond-production==6.0.1
trytond-production-routing==6.0.0
trytond-production-work==6.0.0
trytond-project==6.0.0
trytond-purchase==6.0.1
trytond-purchase-invoice-line-standalone==6.0.0
trytond-purchase-request==6.0.0
trytond-purchase-requisition==6.0.0
trytond-sale==6.0.0
trytond-sale-complaint==6.0.0
trytond-sale-credit-limit==6.0.0
trytond-sale-discount==6.0.0
trytond-sale-extra==6.0.0
trytond-sale-invoice-grouping==6.0.0
trytond-sale-opportunity==6.0.1
trytond-sale-price-list==6.0.0
trytond-sale-promotion==6.0.0
trytond-sale-shipment-grouping==6.0.0
trytond-sale-stock-quantity==6.0.0
trytond-sale-subscription==6.0.0
trytond-sale-supply==6.0.0
trytond-sale-supply-drop-shipment==6.0.0
trytond-stock==6.0.3
trytond-stock-forecast==6.0.0
trytond-stock-inventory-location==6.0.0
trytond-stock-location-sequence==6.0.0
trytond-stock-lot==6.0.0
trytond-stock-lot-sled==6.0.0
trytond-stock-package==6.0.0
trytond-stock-product-location==6.0.0
trytond-stock-shipment-measurements==6.0.0
trytond-stock-split==6.0.0
trytond-stock-supply==6.0.0
trytond-stock-supply-day==6.0.0
trytond-stock-supply-forecast==6.0.0
trytond-stock-supply-production==6.0.0
trytond-timesheet==6.0.0
trytond-user-role==6.0.0
trytond-web-shortener==6.0.0
trytond-web-user==6.0.0
#trytonpsk-account-bank-statement==6.0.0
#trytonpsk-account-co-pyme==6.0.0
#trytonpsk-account-col==6.0.5
#trytonpsk-account-voucher==6.0.2
#trytonpsk-company-department==6.0.0
#trytonpsk-electronic-invoice-co==6.0.0
#trytonpsk-electronic-payroll==6.0.0
#trytonpsk-email==6.0.0
#trytonpsk-party-personal==6.0.0
#trytonpsk-staff==6.0.0
#trytonpsk-staff-access==6.0.0
#trytonpsk-staff-access-extratime==6.0.0
#trytonpsk-staff-co==6.0.0
#trytonpsk-staff-contracting==6.0.0
#trytonpsk-staff-event==6.0.0
#trytonpsk-staff-payroll==6.0.1
#trytonpsk-staff-payroll-co==6.0.1
urllib3==1.26.6
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
zeep==4.0.0
